$mobilebreak: 800px;
$maxwide: 1400px;
$navsize:10rem;
$articleheight:20rem;

// Colour Scheme
$orange:#e94112;
$purpli:#6d1a73;
$purpdrk:#491d59;
$pink:#9a0069;
$supadrk:#180624;
$turq: #18f2af;



$bgcolor: $supadrk;
$bgcolor2: $purpdrk;
$articlecolor: white;
$titlehover: $pink;
$titlecolor: white;
$textcolor: white;
$linkcolor: $orange;
$hovercolor: $turq;
$overlaycolor: $pink;


