.row{
  margin: 0 1rem;
  display: flex;
  flex-flow: row wrap;
}



.singlearticle{
  background: none;
  flex:1 0 30%;
  padding: 5px;
    min-width: 10em;
    margin: 0.5em 0 0 0.5em;
    overflow-x: hidden;
}

.contain {
	max-width: $maxwide;
	margin: 0 auto;
	margin-left: $navsize;
}

.navbar {
	position: fixed;
	top:0;
	background: $navcolor;  
	width: $navsize; 
	margin: 0;
	min-height: 30rem;
	height: 100%;
	color: $textcolor;
    border-width: 0 .25rem 0 0;
    border-style: solid;
    border-image:
    linear-gradient(to top, $mtl1 0, $mtl2 8%, $mtl3 14%, $mtl2 21%, $mtl4 32%, $mtl2 52%, $mtl3 67%, $mtl5 69%, $mtl4 72%, $mtl2 82%, $mtl4 100%) 1 100%;     
}

.firstsection {
	height: $sectionheight1;
	background: $bgcolor;
	text-align: center;
}

.firstsection h1 {
	position: -webkit-sticky; /* Safari */
    position: sticky;
    background: inherit;
    margin: .5em;
  	top: 2rem;
}

.secondsection{
	padding: .5rem;
	height: $sectionheight2;
	background: $navcolor;
	text-align: center;
}

.thirdsection{
	height: $sectionheight3;
	background: $bgcolor;
	text-align: center;
}

.foot{
	background: white;
	width: 100%;

}

.page{
	width: 100%;

}


